
@font-face {
    font-family: 'Arial Narrow';
    src: url('/fonts/ArialNarrow.eot');
    src: url('/fonts/ArialNarrow.eot?#iefix') format('embedded-opentype'),
        url('/fonts/ArialNarrow.woff2') format('woff2'),
        url('/fonts/ArialNarrow.woff') format('woff'),
        url('/fonts/ArialNarrow.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Book';
    src: url('/fonts/Gotham-Book.eot');
    src: url('/fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Gotham-Book.svg#Gotham-Book') format('svg'),
         url('/fonts/Gotham-Book.ttf') format('truetype'),
         url('/fonts/Gotham-Book.woff') format('woff'),
         url('/fonts/Gotham-Book.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-Bold';
    src: url('/fonts/Gotham-Bold.eot');
    src: url('/fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Gotham-Bold.svg#Gotham-Bold') format('svg'),
         url('/fonts/Gotham-Bold.ttf') format('truetype'),
         url('/fonts/Gotham-Bold.woff') format('woff'),
         url('/fonts/Gotham-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham-BookItalic';
    src: url('/fonts/Gotham-BookItalic.eot');
    src: url('/fonts/Gotham-BookItalic.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Gotham-BookItalic.svg#Gotham-BookItalic') format('svg'),
         url('/fonts/Gotham-BookItalic.ttf') format('truetype'),
         url('/fonts/Gotham-BookItalic.woff') format('woff'),
         url('/fonts/Gotham-BookItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
  

@font-face {
    font-family: 'Avenir-Black';
    src: url('/fonts/Avenir-Black.eot');
    src: url('/fonts/Avenir-Black.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Avenir-Black.svg#Avenir-Black') format('svg'),
         url('/fonts/Avenir-Black.ttf') format('truetype'),
         url('/fonts/Avenir-Black.woff') format('woff'),
         url('/fonts/Avenir-Black.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Avenir-BlackOblique';
    src: url('/fonts/Avenir-BlackOblique.eot');
    src: url('/fonts/Avenir-BlackOblique.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Avenir-BlackOblique.svg#Avenir-BlackOblique') format('svg'),
         url('/fonts/Avenir-BlackOblique.ttf') format('truetype'),
         url('/fonts/Avenir-BlackOblique.woff') format('woff'),
         url('/fonts/Avenir-BlackOblique.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Avenir-Book';
    src: url('/fonts/Avenir-Book.eot');
    src: url('/fonts/Avenir-Book.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Avenir-Book.svg#Avenir-Book') format('svg'),
         url('/fonts/Avenir-Book.ttf') format('truetype'),
         url('/fonts/Avenir-Book.woff') format('woff'),
         url('/fonts/Avenir-Book.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Avenir-BookOblique';
    src: url('/fonts/Avenir-BookOblique.eot');
    src: url('/fonts/Avenir-BookOblique.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Avenir-BookOblique.svg#Avenir-BookOblique') format('svg'),
         url('/fonts/Avenir-BookOblique.ttf') format('truetype'),
         url('/fonts/Avenir-BookOblique.woff') format('woff'),
         url('/fonts/Avenir-BookOblique.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Avenir-Heavy';
    src: url('/fonts/Avenir-Heavy.eot');
    src: url('/fonts/Avenir-Heavy.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Avenir-Heavy.svg#Avenir-Heavy') format('svg'),
         url('/fonts/Avenir-Heavy.ttf') format('truetype'),
         url('/fonts/Avenir-Heavy.woff') format('woff'),
         url('/fonts/Avenir-Heavy.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Avenir-HeavyOblique';
    src: url('/fonts/Avenir-HeavyOblique.eot');
    src: url('/fonts/Avenir-HeavyOblique.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Avenir-HeavyOblique.svg#Avenir-HeavyOblique') format('svg'),
         url('/fonts/Avenir-HeavyOblique.ttf') format('truetype'),
         url('/fonts/Avenir-HeavyOblique.woff') format('woff'),
         url('/fonts/Avenir-HeavyOblique.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Avenir-Light';
    src: url('/fonts/Avenir-Light.eot');
    src: url('/fonts/Avenir-Light.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Avenir-Light.svg#Avenir-Light') format('svg'),
         url('/fonts/Avenir-Light.ttf') format('truetype'),
         url('/fonts/Avenir-Light.woff') format('woff'),
         url('/fonts/Avenir-Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Avenir-LightOblique';
    src: url('/fonts/Avenir-LightOblique.eot');
    src: url('/fonts/Avenir-LightOblique.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Avenir-LightOblique.svg#Avenir-LightOblique') format('svg'),
         url('/fonts/Avenir-LightOblique.ttf') format('truetype'),
         url('/fonts/Avenir-LightOblique.woff') format('woff'),
         url('/fonts/Avenir-LightOblique.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Avenir-Medium';
    src: url('/fonts/Avenir-Medium.eot');
    src: url('/fonts/Avenir-Medium.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Avenir-Medium.svg#Avenir-Medium') format('svg'),
         url('/fonts/Avenir-Medium.ttf') format('truetype'),
         url('/fonts/Avenir-Medium.woff') format('woff'),
         url('/fonts/Avenir-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Avenir-MediumOblique';
    src: url('/fonts/Avenir-MediumOblique.eot');
    src: url('/fonts/Avenir-MediumOblique.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Avenir-MediumOblique.svg#Avenir-MediumOblique') format('svg'),
         url('/fonts/Avenir-MediumOblique.ttf') format('truetype'),
         url('/fonts/Avenir-MediumOblique.woff') format('woff'),
         url('/fonts/Avenir-MediumOblique.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Avenir-Oblique';
    src: url('/fonts/Avenir-Oblique.eot');
    src: url('/fonts/Avenir-Oblique.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Avenir-Oblique.svg#Avenir-Oblique') format('svg'),
         url('/fonts/Avenir-Oblique.ttf') format('truetype'),
         url('/fonts/Avenir-Oblique.woff') format('woff'),
         url('/fonts/Avenir-Oblique.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Avenir-Roman';
    src: url('/fonts/Avenir-Roman.eot');
    src: url('/fonts/Avenir-Roman.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Avenir-Roman.svg#Avenir-Roman') format('svg'),
         url('/fonts/Avenir-Roman.ttf') format('truetype'),
         url('/fonts/Avenir-Roman.woff') format('woff'),
         url('/fonts/Avenir-Roman.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gotham-Black';
    src: url('/fonts/Gotham-Black.eot');
    src: url('/fonts/Gotham-Black.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Gotham-Black.svg#Gotham-Black') format('svg'),
         url('/fonts/Gotham-Black.ttf') format('truetype'),
         url('/fonts/Gotham-Black.woff') format('woff'),
         url('/fonts/Gotham-Black.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  

  
  @font-face {
    font-family: 'ArialNarrow';
    src: url('/fonts/ArialNarrow.svg#ArialNarrow') format('svg'),
         url('/fonts/ArialNarrow.ttf') format('truetype'),
         url('/fonts/ArialNarrow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'BigCaslon-Medium';
    src: url('/fonts/BigCaslon-Medium.svg#BigCaslon-Medium') format('svg'),
         url('/fonts/BigCaslon-Medium.ttf') format('truetype'),
         url('/fonts/BigCaslon-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'BigCaslon';
    src: url('/fonts/BigCaslon.eot');
    src: url('/fonts/BigCaslon.eot?#iefix') format('embedded-opentype'),
         url('/fonts/BigCaslon.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Arial Narrow Bold';
    src: url('/fonts/Arial Narrow Bold.eot');
    src: url('/fonts/Arial Narrow Bold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Arial Narrow Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'ArialNarrow-Bold';
    src: url('/fonts/ArialNarrow-Bold.svg#ArialNarrow-Bold') format('svg'),
         url('/fonts/ArialNarrow-Bold.ttf') format('truetype'),
         url('/fonts/ArialNarrow-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gotham-Light';
    src: url('/fonts/Gotham-Light.eot');
    src: url('/fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Gotham-Light.svg#Gotham-Light') format('svg'),
         url('/fonts/Gotham-Light.ttf') format('truetype'),
         url('/fonts/Gotham-Light.woff') format('woff'),
         url('/fonts/Gotham-Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gotham-XLight';
    src: url('/fonts/Gotham-XLight.eot');
    src: url('/fonts/Gotham-XLight.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Gotham-XLight.svg#Gotham-XLight') format('svg'),
         url('/fonts/Gotham-XLight.ttf') format('truetype'),
         url('/fonts/Gotham-XLight.woff') format('woff'),
         url('/fonts/Gotham-XLight.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Arial Narrow Italic';
    src: url('/fonts/Arial Narrow Italic.eot');
    src: url('/fonts/Arial Narrow Italic.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Arial Narrow Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'ArialNarrow-Italic';
    src: url('/fonts/ArialNarrow-Italic.svg#ArialNarrow-Italic') format('svg'),
         url('/fonts/ArialNarrow-Italic.ttf') format('truetype'),
         url('/fonts/ArialNarrow-Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  
  @font-face {
    font-family: 'Arial-Black';
    src: url('/fonts/Arial-Black.svg#Arial-Black') format('svg'),
         url('/fonts/Arial-Black.ttf') format('truetype'),
         url('/fonts/Arial-Black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  
  @font-face {
    font-family: 'ArialNarrow-BoldItalic';
    src: url('/fonts/ArialNarrow-BoldItalic.svg#ArialNarrow-BoldItalic') format('svg'),
         url('/fonts/ArialNarrow-BoldItalic.ttf') format('truetype'),
         url('/fonts/ArialNarrow-BoldItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Gotham-XLightItalic';
    src: url('/fonts/Gotham-XLightItalic.eot');
    src: url('/fonts/Gotham-XLightItalic.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Gotham-XLightItalic.svg#Gotham-XLightItalic') format('svg'),
         url('/fonts/Gotham-XLightItalic.ttf') format('truetype'),
         url('/fonts/Gotham-XLightItalic.woff') format('woff'),
         url('/fonts/Gotham-XLightItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Aero';
    src: url('/fonts/Aero.eot');
    src: url('/fonts/Aero.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Aero.svg#Aero') format('svg'),
         url('/fonts/Aero.ttf') format('truetype'),
         url('/fonts/Aero.woff') format('woff'),
         url('/fonts/Aero.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gotham-UltraItalic';
    src: url('/fonts/Gotham-UltraItalic.eot');
    src: url('/fonts/Gotham-UltraItalic.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Gotham-UltraItalic.svg#Gotham-UltraItalic') format('svg'),
         url('/fonts/Gotham-UltraItalic.ttf') format('truetype'),
         url('/fonts/Gotham-UltraItalic.woff') format('woff'),
         url('/fonts/Gotham-UltraItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gotham-Thin';
    src: url('/fonts/Gotham-Thin.eot');
    src: url('/fonts/Gotham-Thin.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Gotham-Thin.svg#Gotham-Thin') format('svg'),
         url('/fonts/Gotham-Thin.ttf') format('truetype'),
         url('/fonts/Gotham-Thin.woff') format('woff'),
         url('/fonts/Gotham-Thin.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Gotham-ThinItalic';
    src: url('/fonts/Gotham-ThinItalic.eot');
    src: url('/fonts/Gotham-ThinItalic.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Gotham-ThinItalic.svg#Gotham-ThinItalic') format('svg'),
         url('/fonts/Gotham-ThinItalic.ttf') format('truetype'),
         url('/fonts/Gotham-ThinItalic.woff') format('woff'),
         url('/fonts/Gotham-ThinItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
        
  
  
  
  
    
  