body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
}

.wrapper, .form {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffe0e0;
}

.container {
    height:95vh;
    width:95vh;
    overflow-x: auto;
    overflow-y: visible;
    position: relative;
}

.canvas {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    overflow: hidden;
}

.canvas.hide {
    display: none;
}

.form-box {
    width: 90%;
    max-width: 600px;
    position: relative;
    float: left;
}

.form-input, .form-button {
    width: 100%;
    margin: 0px;
    height: 30px;
}