* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%; 
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    font-family: 'Arial Narrow Bold'
}

.outer {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper, .form {
    width: 100%;
    height: 100%;
    padding: 10px 0px;
    top: 0px;
    left: 0px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    background-color: #fff;
}

.wrapper {
    max-width: 190vh;
    margin: 0 auto;
}

.logo {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 300px;
    z-index: 999;
}

.copyright {
    position: absolute;
    bottom: 20px;
    width: 100%;
    color: #000;
    font-size: 14px;
    left: 20px;
}

.menu-container {
    flex-grow: 1;
    min-height: 100px;
    min-width: 420px;
    margin-left: 20px;
    position: relative;
    text-align: center;
    transform: scale(1);
    left: 00px;
    z-index: 999
}

.menu-container  .hashtag {
    color: #353e47;
    font-size: 24px;
    letter-spacing: 20px;
    width: 100%;
    top: -5px;
    position: relative;
}

.menu-container .title {
    color: #00877c;
    font-size: 72px;
    letter-spacing: 4px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.menu-container .details {
    color: #353e47;
    font-size: 22px;
    letter-spacing: 2px;
    position: relative;
    top: 5px;
}

.menu-container .details_init {
    position: relative;
    transition: 0.75s opacity
}

.menu-container .details_name {
    position: absolute;
    width: 100%;
    transition: 0.75s opacity
}

.menu-container .details_init.hide, .menu-container .details_name.hide {
    opacity: 0;
}

.lungs-container {
    height: 90vh;
    width: 90vh;
    overflow-x: auto;
    overflow-y: visible;
    position: relative;
    left: 0;
}

.canvas {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    overflow: hidden;
}

.canvas.hide {
    display: none;
}

.form-box {
    width: 90%;
    max-width: 600px;
    position: relative;
    float: left;
}

.form-meter {
    width: 100%;
    height: 50px;
    margin: 0px;
    background-color: #fff;
    margin-bottom: 20px;
    border: 1px solid #aaa;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.form-ratio {
    width: 100%;
    height: 100%;
    background-color: #f00;
    position: absolute;
    left: 0%;
}

.form-ratio-text {
    z-index: 10;
    font-size: 20px;
}

.form-input, .form-button {
    width: 100%;
    margin: 0px;
    height: 30px;
    border: 1px solid #aaa;
    text-align: center
}

.pledge {
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pledge .menu-container {
    float: left;
    flex-grow: unset;
    width: 100%;
    transform: scale(1);
}

.pledge-image-holder {
    width: 100%;
    display: inline-block;
    float: left;
}

.pledge-img {
    width: calc(100% - 80px);
    max-width: 500px;
    margin: 20px auto;
}

.input-text {
    width: 520px;
    margin: 20px auto;
    position: relative;
}
input[type="text"] {
    -webkit-appearance: none;
    border-radius: 0;
}
.input-text input {
    width: 100%;
    border: none;
    border-bottom: 3px solid #00897c;
    padding: 10px 3px;
    outline: none;
    font-size: 20px;
    position: relative;
    z-index: 2;
    background-color: transparent
}
.input-text .placeholder {
    color: #999;
    font-size: 20px;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0px 8px;
    display: flex;
    align-items: center;
    left: 0px;
    top: 0px;
    justify-content: space-between;
}
.green-button {
    width: 240px;
    height: 60px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00897c;
    color: #fff;
    font-weight: 100;
    border-radius: 30px;
    margin: 40px auto;
}
.pledge-logo {
    width: 260px;
    margin: 0px auto;
}

.pledge-footer {
    color: #848484;
    font-size: 12px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.keyboard {
    position: absolute;
    width: 100%;
    background-color: #fff;
    bottom: 0px;
    left: 0px;
    display: none
}